# Ignore node_modules to avoid copying dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log
log/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build-related files (if applicable)
build
dist
out

# Ignore coverage files
coverage
*.cover

# Ignore local development files
.vscode/
.idea/
*.swp

# Ignore Git-specific files
.git
.gitignore

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore temporary files
*.tmp
*.temp
*.bak

# Ignore test folders
tests/
test/
__tests__/
__mocks__/

# Ignore other specific files or directories depending on your project structure
*.md       # Ignore markdown files if not needed in your image
docs/      # Ignore documentation folder
